.hero--container {
    background: black;
    overflow: hidden;
    height: 770px;
    max-width: 100vw;
    position: relative;
}

.font {
    font-size: 20px;
    background-color: green;
}

.gravemaskinetest {
    padding: 0px;
    border: 0px solid gray;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
}
.gravemaskinecrop {
    object-fit: cover;
    border: 0px solid aliceblue;
    transition: width 2s linear;
    position: absolute;
}

.column--links {
    margin: 0px 30px 0px 30px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    background-color: transparent;
    padding: 15px 25px;
}

.text--box {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 17%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15%;
    padding: 10px;
    text-align: left;
    font-size: 90px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
}

.facebook {
    color: red;
    position: absolute;
    top: 80px;
    left: calc(100% - 170px);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 170px;
    padding: 0px;
    text-align: left;
    font-size: 40px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
}

.unzoomed {
    width: 100vw;
}
.zoomed {
    width: 135vw;
}

.rendered {
    opacity: 0.35;
}

.hidden {
    opacity: 0;
}

@media only screen and (max-width: 1400px) {
    .hero--container {
        height: 700px;
    }

    .facebook {
        top: 80px;
    }
}

@media only screen and (max-width: 1250px) {
    .hero--container {
        height: 650px;
    }
}

@media only screen and (max-width: 1150px) {
    .hero--container {
        height: 600px;
    }
}

@media only screen and (max-width: 1100px) {
    .hero--container {
        height: 500px;
    }

    .text--box {
        font-size: 70px;
    }

    .facebook {
        font-size: 30px;
        left: calc(100% - 110px);
    }
}

@media only screen and (max-width: 900px) {
    .hero--container {
        height: 500px;
    }

    .zoomed {
        width: 110vw;
    }

    .unzoomed {
        width: 110vw;
    }
}

@media only screen and (max-width: 805px) {
    .hero--container {
        height: 400px;
    }

    .text--box {
        font-size: 40px;
    }

    .facebook {
        font-size: 26px;
        left: calc(100% - 100px);
    }
}

@media only screen and (max-width: 650px) {
    .hero--container {
        height: 350px;
    }

    .text--box {
        font-size: 36px;
    }
}

@media only screen and (max-width: 580px) {
    .hero--container {
        height: 300px;
    }

    .text--box {
        font-size: 30px;
    }
}

@media only screen and (max-width: 485px) {
    .hero--container {
        height: 250px;
    }

    .text--box {
        font-size: 30px;
    }
}

@media only screen and (max-width: 410px) {
    .hero--container {
        height: 220px;
    }

    .text--box {
        font-size: 24px;
    }
}
