.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: black;
  font-size: 24px;
  color: white;
  width: 100%;
  height: 43px;
  border-radius: 0px;
  opacity: 0.9;
  backdrop-filter: blur(20px);
  z-index: 2;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1px;
}

.nav--flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding: 0px 60px 8px 60px;
  opacity: 1;
}
.nav--link {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background-color: transparent;
  transition: linear 0.15s;
}

.nav--link:hover {
  color: red;
  padding-top: 3px;
  text-shadow: 0 0 20px red;
}

.nav--link:active {
  color: orangered;
  box-shadow: 0;
  transform: translateY(1px);
}

.logo {
  width: 150px;
  height: 150px;
  margin: 9px 0px 10px 40px;
  overflow: hidden;
  background-color: transparent;
  opacity: 1;
}

.logo--box {
  display: flex;
  width: 20%;
  background-color: transparent;
  color: red;
  padding-left: 20px;
  font-weight: 700;
}
