.Services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 43px;
}

.services--title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9e0505;
    border-bottom: solid tomato 3px;
    width: 400px;
    margin-bottom: 40px;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
}

.content--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background: rgb(56, 56, 56);
}

.content--row {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 500px;
}

.content--image {
    width: 50%;
    overflow: hidden;
}

.orson--img {
    width: 100%;
    height: 140%;
    object-fit: cover;
    overflow: hidden;
}

.orson--img2 {
    width: 100%;
    height: 130%;
    object-fit: cover;
    overflow: hidden;
}

.orson--img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.orson--img4 {
    width: 100%;
    height: 150%;
    object-fit: cover;
    overflow: hidden;
}

.orson--img5 {
    width: 100%;
    height: 190%;
    object-fit: cover;
    overflow: hidden;
}

.orson--img6 {
    width: 100%;
    height: 150%;
    object-fit: cover;
    overflow: hidden;
}

.orson--img7 {
    width: 100%;
    height: 150%;
    object-fit: cover;
    overflow: hidden;
}

.orson--img8 {
    width: 100%;
    height: 150%;
    object-fit: cover;
    overflow: hidden;
}

.content--text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content--title--left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 2em;
    border-right: 1px solid red;
    padding: 40px 35px 40px 35px;
    height: 200px;
    font-weight: bold;
}

.content--title--right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 2em;
    border-left: 1px solid red;
    padding: 40px 0px 40px 35px;
    height: 200px;
    font-weight: bold;
}
.nav--link1 {
    color: red;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    background-color: transparent;
    transition: linear 0.15s;
}

.nav--link1:hover {
    color: red;
    padding-top: 29px;
    text-shadow: 0 0 20px red;
}

.nav--link1:active {
    color: orangered;
    box-shadow: 0;
    transform: translateY(1px);
}

.content--text {
    padding: 18px;
    line-height: 130%;
    color: white;
}

:root {
    --height: 610px;
    --lightBoxHeight: 800px;
}

.big-red {
    height: 100%;
    width: calc(var(--height) * 16 / 9);
    background-color: red;
}

.big-blue {
    height: 100%;
    width: calc(var(--height) * 16 / 9);
    background-color: blue;
}

.lil-red {
    height: 100%;

    width: calc(var(--height) * 16 / 9);
    background-color: red;
}

.lil-blue {
    height: 100%;

    width: calc(var(--height) * (16 / 9));
    background-color: blue;
}

.tall-red {
    height: 100%;

    width: calc(var(--height) * (9 / 16));
    background-color: red;
}

.beskaring1 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/beskaring1.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.beskaring2 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/beskaring2.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.beskaring3 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/beskaring3.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.beskaring4 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/beskaring4.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.beskaring5 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/beskaring5.jpg');
    background-repeat: no-repeat;
    background-size: 51vw;
}

.beskaring6 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/beskaring6.jpg');
    background-repeat: no-repeat;
    background-size: 51vw;
}

.beskaring7 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/beskaring7.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.beskaring8 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/beskaring8.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Grenknusning1 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Grenknusning.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Grenknusning2 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Grenknusning2.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Grenknusning3 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Grenknusning3.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Grenknusning4 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Grenknusning4.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Grenknusning5 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Grenknusning5.png');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Grenknusning6 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Grenknusning6.png');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Grenknusning7 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Grenknusning7.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Grenknusning8 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Grenknusning1.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Maskinudlejning1 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/Maskinudlejning1.jpg');
    background-repeat: no-repeat;
    background-size: 55vw;
}

.Maskinudlejning2 {
    height: 100%;

    width: calc(var(--height) * (16 / 6));
    background: url('../Assets/Maskinudlejning2.jpg');
    background-repeat: no-repeat;
    background-size: 70vw;
}

.Maskinudlejning3 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/Maskinudlejning3.jpg');
    background-repeat: no-repeat;
    background-size: 53vw;
}

.Maskinudlejning4 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Maskinudlejning4.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Maskinudlejning5 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Maskinudlejning5.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Maskinudlejning6 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Maskinudlejning6.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Maskinudlejning7 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/Maskinudlejning7.jpg');
    background-repeat: no-repeat;
    background-size: 50vw;
}

.Maskinudlejning8 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/Maskinudlejning.jpg');
    background-repeat: no-repeat;
    background-size: 55vw;
}

.Maskinudlejning9 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/Maskinudlejning8.jpg');
    background-repeat: no-repeat;
    background-size: 52vw;
}

.Maskinudlejning10 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/Maskinudlejning9.jpg');
    background-repeat: no-repeat;
    background-size: 52vw;
}

.Maskinudlejning11 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/Maskinudlejning10.jpg');
    background-repeat: no-repeat;
    background-size: 52vw;
}

.Maskinudlejning12 {
    height: 100%;

    width: calc(var(--height) * (16 / 13.8));
    background: url('../Assets/Maskinudlejning11.jpg');
    background-repeat: no-repeat;
    background-size: 50vw;
}

.Maskinudlejning13 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/Maskinudlejning12.jpg');
    background-repeat: no-repeat;
    background-size: 50vw;
}

.Maskinudlejning14 {
    height: 100%;

    width: calc(var(--height) * (16 / 10));
    background: url('../Assets/Maskinudlejning13.jpg');
    background-repeat: no-repeat;
    background-size: 50vw;
}

.Maskinudlejning15 {
    height: 100%;

    width: calc(var(--height) * (11 / 12));
    background: url('../Assets/Maskinudlejning14.jpg');
    background-repeat: no-repeat;
    background-size: 29vw;
}

.Maskinudlejning16 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Maskinudlejning15.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Maskinudlejning17 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Maskinudlejning16.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.Maskinudlejning18 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Maskinudlejning17.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.stubfrasning1 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Stupfræsning.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}
.rodfrasning1 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Rodfræsning1.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.rodfrasning2 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Rodfræsning.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.rodfrasning3 {
    height: 100%;

    width: calc(var(--height) * (11 / 16));
    background: url('../Assets/Rodfræsning2.jpg');
    background-repeat: no-repeat;
    background-size: 24vw;
}

.tall-blue {
    height: 100%;

    width: calc(var(--height) * (9 / 16));
    background-color: blue;
}

.gallery-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.gallery-section {
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
}

.full-overlay {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 100px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.lightbox-container {
    width: 80%;
    height: var(--lightBoxHeight);
    display: flex;
    justify-content: center;
}

.height-override {
    height: var(--lightBoxHeight);
    width: calc(var(--lightBoxHeight) * (16 / 9));
}

.width-override {
    width: calc(var(--lightBoxHeight) * (9 / 16));
}

.mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .content--row {
        flex-wrap: wrap;
        overflow: hidden;
        height: auto;
    }

    .content--image {
        width: 100%;
        height: 500px;
    }

    .orson--img {
        margin-top: 00px;
    }

    .content--text {
     width: auto;
    }
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .content--title--right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: red;
        font-size: 2em;
        border-bottom: 1px solid red;
        border-left: 0px;
        padding: 40px 0px 40px 35px;
        height: 200px;
        font-weight: bold;
    }
    .content--title--left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: red;
        font-size: 2em;
        border-right: 0px;
        border-bottom: 1px solid red;
        padding: 40px 40px 40px 35px;
        height: 200px;
        font-weight: bold;
    }
    .orson--img5 {
        width: 100%;
        height: 190%;
        object-position: 30% 50%;
        overflow: hidden;

    }
}
